<h1>Current Songs for Playlist</h1>

<ul>
  <% @songs.each do |s| %>
    <li>
    <%= s.title %>-
    <%= s.artist %>
    <%= button_to 'Vote For', upvote_path %>
    <%= button_to 'Vote Against', downvote_path %>            
    </li>
  <% end %>
</ul>
