<h1>Current Songs for Playlist</h1>

<ul>
  <% @songs.each do |s| %>
    <li>
    <%= s.title %>-
    <%= s.artist %>
    <%= button_to 'Vote For', upvote_path(:song => { id: s.id }), class: 'btn btn-success btn-xs'  %>
    <%= button_to 'Vote Against', downvote_path, class: 'btn btn-danger btn-xs' %>
    </li>
  <% end %>
</ul>
