<h1>Added Your Song to the playlist!</h1>
  <ul>
    <li>
    <h3>song: <%= @song.title %>-
        artist: <%= @song.artist %>
    </h3>
    </li>
  </ul>

  <%= link_to "Search Again!", songs_search_path %>
  <%= link_to "Vote Page", root_path %>
