/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "spacings";
@import "buttons";

$green: #2ebd59;
$neon-green: #1ed760;

// elements
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

input:hover,
input:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
.form-control:focus {
  border: 1px solid $neon-green;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=checkbox]:focus {
    border-color: $neon-green;
    background-color: $neon-green;
}

label {
  font-weight: normal;
}

a {
    color: #2ebd59;

    &:hover, &:focus {
        color: $neon-green;
        text-decoration: none;
    }
}

//typography
.font-small {
  font-size: 0.75em;
}

.font-large {
  font-size: 1.75em;
}

.bold {
  font-weight: bold;
}

// headers
.header {
  border-bottom: 1px solid;
}

ul.login-nav {
	list-style: none;

  li {
		display: inline;
	}
}

//other
.text-center {
  text-align: center;
}

.gray {
  color: gray;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  @extend .bold;
  font-size: 3em;
}

.content {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.2);
}

.search-input {
  height: inherit;
  @extend .font-large;
}
